.loginContainer {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.loginBox {
    background-color: white;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    width: 900px;
    height: 500px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
}


.loginBox form {
    width: calc(100% - 50px);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding: 50px 25px 0 25px;
    flex-direction: column;
}

.loginBox form .inputBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 28px;
    position: relative;
}


.loginBox .eye {
    position: absolute;
    right: 0;
    bottom: 6px;
    color: #bf1171;
    cursor: pointer;
}


.loginBox form .inputBox p {
    font-size: 26px;
    font-weight: 500;
}

.loginBox form .inputBox input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #d02884;
    outline: none;
    padding: 0 0 5px 0;
    font-size: 16px;
}


.loginBox form button {
    width: 100%;
    border: none;
    border-radius: 39px;
    padding: 11px 0;
    color: white;
    background: rgb(171, 37, 232);
    background: linear-gradient(10deg, rgba(171, 37, 232, 1) 0%, rgba(248, 64, 165, 1) 100%);
    font-size: 16px;
    cursor: pointer;
}


.loginLeft {
    height: 100%;
    min-width: 45%;
    background: rgb(232, 37, 178);
    background: linear-gradient(10deg, rgba(232, 37, 178, 1) 35%, rgba(248, 64, 165, 1) 100%);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 10px;

}

.loginLeft p {
    width: 90%;
}