.cart_display {
    width: 350px;
    min-height: 70vh;
    border-radius: 16px;
    flex-direction: column;
    gap: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background: white;
    /* box-shadow: 0 2px 16.8px 3.2px #00264214; */
    border: 1px solid #e4e4e4;
    padding: 15px 15px;
}

.cart_display .displayItemsCon {
    width: 100%;
    min-height: 500px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 20px;
}

.cart_display .cartItemName {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cart_display .cartItemName p {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 10px;
}

.cart_display .cartItemName p:hover {
    color: #da1481;
}


.cart_display .cartBottom {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
}

.cart_display .cartBottom span {
    color: #da1481;
}

.cart_display .cartBottom button {
    width: 100%;
    border: none;
    background-color: #da1481;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    cursor: pointer;
}

.cart_display .cartBottom button:disabled {

    background-color: #b4b0b2;
    color: white;
    cursor: not-allowed;
}


.emptyCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 500px;
    color: #da1481;
    font-weight: 700;
}

.emptyCart img {
    width: 150px;

}