.completed_card {
    width: calc(100% - 30px);
    display: flex;
    height: 220px;
    padding: 15px;
    border-radius: 7px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    background-color: #262831;
    color: #c7c7c7;

}

.completed_card h3 {
    font-size: 25px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}

.completed_card h4 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}


.completed_card h4:hover {
    text-decoration: underline;
}

.completed_card p {
    font-size: 18px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}


.completed_card button {
    width: 100%;
    background-color: #1f68ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding: 7px 0;
}


.itemHolder {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #030303d6;
}

.itemHolder .orderItems {
    width: 500px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: #262831;
    justify-content: center;
    align-items: flex-end;

}


.itemHolder .orderItems>div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemHolder .orderItems .cross {
    width: fit-content;
    cursor: pointer;
}