.history_skeleton {
    width: 760px;
    border-radius: 14px;
    height: 150px;
    padding: 0 15px 0 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bdbdbd;
}

.toggleSkeleton {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
}