.itemWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid #cccccc;
    position: relative;
    cursor: pointer;
    padding: 0 0 10px 0;

}

.itemWrapper .itemImage {
    width: 100%;
    height: 200px;
}

.itemWrapper .itemImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.itemWrapper .itemInfo {
    padding: 0 0 0 11px;
}

.itemWrapper .itemInfo h1 {
    font-size: 25px;
    font-weight: 500;
}

.itemWrapper .row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;
}

.itemWrapper .row p {
    display: flex;
    font-weight: 500;
    font-size: 18px;
    justify-content: flex-start;
    align-items: center;
    gap: 2px;
    color: #6a6a6a;
}


.itemWrapper button {
    width: calc(100% - 22px);
    padding: 6px 0;
    border-radius: 5px;
    border: 1px solid #ed2292;
    margin: 0 auto;
    background-color: #ed2292;
    color: white;
}


.itemWrapper button:hover {
    background-color: transparent;
    border: 1px solid #ed2292;
    color: #ed2292;
}