.profile_container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}


.profile_container .bg_graphic {
    width: 100%;
    background: rgb(139, 20, 218);
    background: linear-gradient(90deg, rgba(139, 20, 218, 1) 0%, rgba(218, 20, 129, 1) 50%, rgba(246, 15, 78, 1) 100%);
    height: 500px;
    position: relative;
    display: flex;
    justify-content: center;
}

.profile_container .profile_card {
    width: 500px;
    height: 350px;
    box-shadow: 0 2px 16.8px 3.2px #00264214;
    background-color: white;
    position: absolute;
    border-radius: 10px;
    top: 50%;
}

.profile_card .userName {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    gap: 5px;
}

.profile_card .userName:hover {
    text-decoration: underline;
}


.profile_container .profile_card .user_profile_img {
    display: block;
    cursor: pointer;
    width: 150px;
    height: 150px;
    position: relative;
    background: linear-gradient(200deg, rgb(178, 20, 218) 0%, rgba(218, 20, 129, 1) 50%, rgba(246, 15, 78, 1) 100%);
    padding: 8px;
    top: -50px;
    margin: 0 auto;
    border-radius: 50%;
    position: relative;
}

.profile_container .profile_card .user_profile_img img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}


.profile_container .profile_card .userDetails {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;

}


.profile_card .orderStates {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.profile_card .orderStates .stateBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.profile_card .profile_update_btn {
    position: absolute;
    border: none;
    cursor: pointer;
    top: 11%;
    right: 3px;
    background-color: #292d48;
    color: white;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile_card .logOut_btn {
    position: absolute;
    bottom: 20px;
    right: 10px;
    background-color: #e72424;
    border: none;
    padding: 7px 8px;
    color: white;
    display: flex;
    border-radius: 7px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    cursor: pointer;
}


.profile_update {
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
    background-color: #292d4868;
}



.profile_update form {
    width: 400px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 7px;
    background-color: white;
}

.profile_update form>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

.profile_update form>div>input {
    width: 100%;
    outline: 0;
    height: 30px;
}

.profile_update form button {
    width: 100%;
    color: white;
    padding: 7px 0;
    border: none;
    cursor: pointer;
}