.addContaier {
    width: 1300px;
    height: 500px;
    margin: 50px auto;
    text-align: center;
}

.addCotent {
    width: 1300px;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
}

.addCotent h1 {
    color: #efefef;
    font-size: 50px;

}

.addCotent a {
    background: #f840a5;
    color: white;
    padding: 8px 7px;
    font-size: 20px;
    border: 1px solid #f840a500;
    transition: 0.3s;
}

.addCotent a:hover {
    border: 1px solid #f840a5;
    background-color: transparent;
}