@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600;700;800&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
    box-sizing: content-box !important;
}

.imgSelector {
    opacity: 0;
    width: 0 !important;
    position: absolute;
    padding: 0 !important;
}